Source: libosmium-dev
Section: libdevel
Priority: optional
Maintainer: Jochen Topf <jochen@topf.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1
Homepage: http://wiki.openstreetmap.org/wiki/Osmium

Package: libosmium-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libosmpbf-dev
Recommends: libgeos-dev, libv8-dev, libshp-dev, libsparsehash-dev, libgd2-xpm-dev, libicu-dev
Description: A universal OpenStreetMap data processor framework.
 C++ framework for working with OpenStreetMap data.
