Source: osmium
Section: utils
Priority: optional
Maintainer: Frederik Ramm <frederik@remote.org>
Build-Depends: debhelper (>= 7), libgeos-dev, libv8-dev, libprotobuf-dev, protobuf-compiler, libshp-dev, libsparsehash-dev, libgd2-xpm-dev, libsqlite3-dev, libicu-dev, libosmpbf-dev
Standards-Version: 3.9.1

Package: osmium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A universal OpenStreetMap data processor.
 Includes tools to convert OSM data to shape files.
